body {
	background: #f9e933;
}
header, main, footer {
	min-width: 855px;
}
header .container, main .container, footer .container {
	max-width: 855px;
	margin: auto;
}
header {
	background: white;
	overflow: auto;
}
header h1 {
	float: left;
	width: 570px;
}
header nav {
	float: right;
	width: 285px;
}
main {
	background: white;
	overflow: auto;
}
main .text-content {
	float: left;
	width: 570px;
}
main .lightbulb {
	float: right;
	width: 285px;
}
footer {
	overflow: auto;
}
footer .contact {
	float: left;
	width: 570px;
}
footer .sitemap {
	float: right;
	width: 285px;
}
html {
	font-family: droid-sans;
}
h1, h2, h3, h4 {
	font-family: Ubuntu;
}
